<div class="container">
    <div class="innercontainer">
        <div class="taskinput">
            <button mat-icon-button>
                <mat-icon>expand_more</mat-icon>
            </button>
            <mat-form-field class="tasktextinput">
                <mat-label>What needs to be done?</mat-label>
                <input type="tel" matInput placeholder="Buy Milk" [(ngModel)]="newTask.name"
                    (keyup)="saveTask($event)">
            </mat-form-field>
            <button mat-icon-button [disabled]="newTask.name===''">
                <mat-icon [ngClass]="{'opacity-one':newTask.name!==''}" class="opacity-zero">done</mat-icon>
            </button>
        </div>
        <div class="todocontainer">
            <div class="todo" *ngFor="let task of filteredTasks">
                <div class="tasklabel">
                    <mat-checkbox class="example-margin" [(ngModel)]="task.is_done" (change)="updateTask(task)">
                        <span [ngClass]="{'completed':task.is_done}">{{task.name}}</span>
                    </mat-checkbox>
                </div>
                <button mat-icon-button (click)="deleteTask(task)">
                    <mat-icon>clear</mat-icon>
                </button>
            </div>
        </div>
        <div class="footer">
            <div class="tasksleft">
                <button mat-button>
                    {{getTasksLeft()}} tasks lefts
                </button>
            </div>
            <div class="filters" >
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="filter" (change)="applyFilter()">
                    <mat-button-toggle value="all">All</mat-button-toggle>
                    <mat-button-toggle value="notdone">Active</mat-button-toggle>
                    <mat-button-toggle value="done">Completed</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <div class="clearcompleted" >
                <button mat-button (click)="clearCompleted()">Clear completed</button>
            </div>
        </div>
    </div>
</div>